*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #171a21;
  height: 60px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 20;
}
header .nav-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
header .nav-bar .menu li {
  list-style: none;
  display: inline;
  padding-right: 20px;
  font-size: 1.2rem;
  color: white;
  transition: 0.2s;
}
header .nav-bar .menu li:hover {
  cursor: pointer;
  font-size: 1.4rem;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .search {
  width: 20%;
  background-color: #064f79;
}
main .search #searchGame {
  padding: 20px;
}
main .search #searchGame .form {
  padding-left: 10px;
  font-size: 1.2rem;
  width: 200px;
  border: none;
  outline: none;
}
main .search #searchGame .form .searchBox {
  width: 270px;
  height: 30px;
  background-color: rgb(70, 115, 238);
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  /* background-color: white; */
  -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.9);
}

main .search #searchGame .form .searchBox #btn {
  width: auto;
  padding: 1px 4px;
  vertical-align: middle;
  height: 20px;
  color: black;
  transition: 0.2s;
  background-color: rgb(250, 15, 54);
}
main .search #searchGame .form .searchBox #btn:hover {
  cursor: pointer;
}

main .search #searchGame .category {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 2px solid black;
}
main .search #searchGame .category .categoryGroup {
  width: 100%;
}
main .search #searchGame .category .categoryGroup li {
  list-style: none;
  font-size: 1rem;
  padding: 10px 0;
  margin-top: 5px;
  transition: 0.4s;
  color: white;
  font-weight: 15px;
}
main .search #searchGame .category .categoryGroup li:hover {
  cursor: pointer;
  background-color: blue;
  text-align: center;
  color: red;
  padding: 5px 0;
  font-size: 1.3rem;
}
main .showGames {
  width: 80%;
  background-color: #66c0f4;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: auto;
  padding: 30px;
}
main .showGames .background {
  width: 275px;
  background-color: yellow;
  height: 180px;
  padding: 5px;
  margin: 5px;
}
main .showGames .background .game_wrapper {
  width: 100%;
  height: 170px;
  color: black;
  font-size: 1rem;
  background-color: rgb(240, 240, 121);
}
main .showGames .background .game_wrapper .cover {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .showGames .background .game_wrapper .cover img {
  width: 100%;
}
main .showGames .background .game_wrapper .cover img:hover {
  filter: brightness(120%);
}
main .showGames .background .game_wrapper .cover .game_info {
  display: flex;
  justify-content: space-between;
}
main .showGames .background .game_wrapper .cover .game_info p {
  font-size: 1.1rem;
}
